@model UserAdditionalInfo

@{
    ViewBag.Title = "Email";
    Layout = "_Layout";
}

<h2>Email</h2>

<form asp-action="Step2" asp-controller="Register" method="post">
    <div>
        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <input type="submit" value="Send" />
    </div>
</form>

<a asp-action="Step1" asp-controller="Register">Back</a>