@model User
@using Asp_Task.Controllers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Result";
    Layout = "_Layout";
}

<h2>Result</h2>

<p>Name: @Model.Fio.Name</p>
<p>Surname: @Model.Fio.Surname</p>
<p>Email: @Model.Email</p>
<p>Count: @HttpContextAccessor.HttpContext.Request.Cookies[UserController.PRESS_COUNT_KEY]</p>

<a asp-action="CreateEmail" asp-controller="User">Back</a>